.RoutesContainerCSS{
    background-color: #c3083c;
    padding-top: 10px;
    padding-bottom: 10px;
}
.RoutesWrapperCSS{
    width: 75%;
    margin: 0 auto;
}
.LogoContainerCSS{
    width: 40%;
    display: inline-block;
    vertical-align: top;
    color: #ffffff;
}
.LogoWrapperCSS img{
    vertical-align: middle;
}
.LogoWrapperCSS span{
    font-size: 25px;
    vertical-align: middle;
    margin-left: 25px;
}
.LinksContainerCSS{
    width: 60%;
    display: inline-block;
    vertical-align: top;
}
.LinksWrapperCSS{
    text-align: right;
}
.ComponentLinkCSS{
    margin: 0px 20px;
    font-size: 20px;
    line-height: 50px;
    font-weight: normal;
    display: inline-block;
    height: 100%;
    cursor: pointer;
    color: #ffffff;
    transition: color 0.15s ease-in-out;
    text-transform: uppercase;
    text-decoration: none;
}
.ComponentLinkCSS:hover{
    color: rgba(255,255,255,0.5);
}
.SwitchesWrapperCSS{
    width: 75%;
    margin: 0 auto;
}
.SwitchesWrapperCSS iframe{
    width: 100%;
    max-height: 520px;
}
.SectionBelowVideoCSS h1, 
.SectionBelowVideoCSS h2{
    font-family: 'Crete Round', serif;
    text-align: center;
}
.SectionBelowVideoCSS h1{
    font-size: 50px;
}

.ArtciclesContainerCSS{
    margin-top: 50px;
}
.NewsArticleComponentCSS{
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #d4d4d4;
    margin-bottom: 20px;
}
.NewsArticleComponentCSS a{
    text-decoration: none;
    color: #000000;
}
.NewsArticleImageContainerCSS{
    display: inline-block;
    width: 40%;
    vertical-align: top;
}
.NewsArticleImageWrapperCSS img{
    width: 100%;
    max-width: 320px;
    max-height: 320px;
    border: 1px solid #efefef;
}
.NewsArticleTextContainerCSS{
    display: inline-block;
    width: 60%;
    vertical-align: top;
}
.NewsArticleTextWrapperCSS h2{
    margin-top: 5px;
    color: #c3083c;
    font-family: 'Crete Round', serif;
}
.LeftPadding{
    padding-left: 20px;
}
.MoveRight{
    text-align: right;
}

.ImagesWrapperCSS h1{
    text-align: center;
    font-family: 'Crete Round', serif;
    color: #c3083c;
}
.ShowMakerButtonCSS{
    text-align: center;
    margin: 10px 0px;
}
.ShowcaseContainerCSS img{
    width: 100%;
    max-height: 720px;
}
.ColorButtonCSS{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    outline: none;
    outline-color: #ffffff;
    border: none;
    cursor: pointer;
    margin: 0px 7px;
}

@media screen and (max-width: 798px) {
    .LogoWrapperCSS span{
        display: block;
        font-size: 20px;
        margin-left: 0px;
    }
    .SwitchesWrapperCSS iframe{
        width: 100%;
        max-height: 320px;
    }

}