body {
  margin: 0;
  padding: 0;
  font-family: 'Crete Round', serif;
}
.JosefinFont{
	font-family: 'Josefin Slab', serif;
}
.CreteFont{
	font-family: 'Crete Round', serif;
}
#loader{
	width: 75%;
	margin: 0 auto;
	text-align: center;
}
.footer{
	color: #ffffff;
	background-color: #c3083c;
	padding: 20px 0px;
}
.footerWrapper{
	width: 75%;
	margin: 0 auto;
}
.footerWrapper a{
	text-decoration: none;
	color: rgb(227, 235, 238);
}
.Percent40WidthCSS{
    width: 40%;
    display: inline-block;
    vertical-align: top;
}
.Percent60WidthCSS{
    width: 60%;
    display: inline-block;
    vertical-align: top;
}
