.App-header {
	padding: 10px;
	color: white;
	border: 1px solid #d4d4d4;
}
.App-header img {
	vertical-align: middle;
}
.App-header h1 {
	display: inline-block;
	margin-left: 15px;
	color: #4CAF50;
	margin-top: 0px;
	margin-bottom: 0px;
	vertical-align: middle;
}
.TodoFooterContainerCSS{
	padding: 20px 0px;
	border: 1px solid #d4d4d4;
} 
.TodoFooterWrapperCSS {
	width: 90%;
	margin: 0px auto;
}
.TodoFooterWrapperCSS a{
	text-decoration: none;
	color: #4CAF50;
	font-weight: 700;
}
